CBIS.WriteAPI.Client/Service References/Generated/WriteAPI2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://cbis.citybreak.com/WriteAPI" elementFormDefault="qualified" targetNamespace="http://cbis.citybreak.com/WriteAPI" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://ipa.cbis.test.citybreak.com/WriteAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" />
  <xs:import schemaLocation="http://ipa.cbis.test.citybreak.com/WriteAPI.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:element name="ProductExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q1:ProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductExistsForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q2:ProductReference" />
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q3:OrganizationReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ProductExistsForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ProductExistsForSupplierResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q4:ProductReference" />
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="parentProduct" nillable="true" type="q5:ProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="CreateProductResult" nillable="true" type="q6:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q7:ProductReference" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q8:OrganizationReference" />
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="parentProduct" nillable="true" type="q9:ProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateProductForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="CreateProductForSupplierResult" nillable="true" type="q10:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q11:ProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="ArchiveProductResult" nillable="true" type="q12:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveProductForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q13:ProductReference" />
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q14:OrganizationReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ArchiveProductForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="ArchiveProductForSupplierResult" nillable="true" type="q15:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetParentProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q16:ProductReference" />
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="parentProduct" nillable="true" type="q17:ProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetParentProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetParentProductResult" nillable="true" type="q18:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetParentProductForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q19:ProductReference" />
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q20:OrganizationReference" />
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="parentProduct" nillable="true" type="q21:ProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetParentProductForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetParentProductForSupplierResult" nillable="true" type="q22:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInformation">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q23:ProductReference" />
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toSet" nillable="true" type="q24:ArrayOfInformation" />
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toDelete" nillable="true" type="q25:ArrayOfInformationKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInformationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetInformationResult" nillable="true" type="q26:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInformationForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q27="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q27:ProductReference" />
        <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q28:OrganizationReference" />
        <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toSet" nillable="true" type="q29:ArrayOfInformation" />
        <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toDelete" nillable="true" type="q30:ArrayOfInformationKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetInformationForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetInformationForSupplierResult" nillable="true" type="q31:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCategories">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q32:ProductReference" />
        <xs:element xmlns:q33="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toSet" nillable="true" type="q33:ArrayOfint" />
        <xs:element xmlns:q34="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toDelete" nillable="true" type="q34:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCategoriesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q35="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetCategoriesResult" nillable="true" type="q35:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCategoriesForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q36="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q36:ProductReference" />
        <xs:element xmlns:q37="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q37:OrganizationReference" />
        <xs:element xmlns:q38="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toSet" nillable="true" type="q38:ArrayOfint" />
        <xs:element xmlns:q39="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toDelete" nillable="true" type="q39:ArrayOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetCategoriesForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q40="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetCategoriesForSupplierResult" nillable="true" type="q40:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReferences">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q41="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q41:ProductReference" />
        <xs:element xmlns:q42="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toSet" nillable="true" type="q42:ArrayOfProductReference" />
        <xs:element xmlns:q43="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toDelete" nillable="true" type="q43:ArrayOfProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReferencesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q44="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetReferencesResult" nillable="true" type="q44:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReferencesForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q45="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q45:ProductReference" />
        <xs:element xmlns:q46="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q46:OrganizationReference" />
        <xs:element xmlns:q47="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toSet" nillable="true" type="q47:ArrayOfProductReference" />
        <xs:element xmlns:q48="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toDelete" nillable="true" type="q48:ArrayOfProductReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetReferencesForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q49="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetReferencesForSupplierResult" nillable="true" type="q49:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOccasions">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q50:ProductReference" />
        <xs:element xmlns:q51="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toSet" nillable="true" type="q51:ArrayOfOccasion" />
        <xs:element xmlns:q52="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toDelete" nillable="true" type="q52:ArrayOfOccasion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOccasionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetOccasionsResult" nillable="true" type="q53:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOccasionsForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q54="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q54:ProductReference" />
        <xs:element xmlns:q55="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q55:OrganizationReference" />
        <xs:element xmlns:q56="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toSet" nillable="true" type="q56:ArrayOfOccasion" />
        <xs:element xmlns:q57="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toDelete" nillable="true" type="q57:ArrayOfOccasion" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetOccasionsForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetOccasionsForSupplierResult" nillable="true" type="q58:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMedia">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q59="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q59:ProductReference" />
        <xs:element xmlns:q60="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toSet" nillable="true" type="q60:ArrayOfMedia" />
        <xs:element xmlns:q61="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toDelete" nillable="true" type="q61:ArrayOfanyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMediaResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMediaForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q62="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q62:ProductReference" />
        <xs:element xmlns:q63="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q63:OrganizationReference" />
        <xs:element xmlns:q64="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="toSet" nillable="true" type="q64:ArrayOfMedia" />
        <xs:element xmlns:q65="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="toDelete" nillable="true" type="q65:ArrayOfanyURI" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetMediaForSupplierResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRelevance">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q66="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q66:ProductReference" />
        <xs:element xmlns:q67="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="relevance" type="q67:Relevance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRelevanceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q68="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetRelevanceResult" nillable="true" type="q68:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRelevanceForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q69="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q69:ProductReference" />
        <xs:element xmlns:q70="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q70:OrganizationReference" />
        <xs:element xmlns:q71="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="relevance" type="q71:Relevance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRelevanceForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q72="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetRelevanceForSupplierResult" nillable="true" type="q72:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExpiration">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q73="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q73:ProductReference" />
        <xs:element minOccurs="0" name="expiration" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExpirationResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q74="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetExpirationResult" nillable="true" type="q74:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExpirationForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q75="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q75:ProductReference" />
        <xs:element xmlns:q76="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q76:OrganizationReference" />
        <xs:element minOccurs="0" name="expiration" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetExpirationForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q77="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetExpirationForSupplierResult" nillable="true" type="q77:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevision">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q78="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q78:ProductReference" />
        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevisionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q79="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetRevisionResult" nillable="true" type="q79:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevisionForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q80="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q80:ProductReference" />
        <xs:element xmlns:q81="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q81:OrganizationReference" />
        <xs:element minOccurs="0" name="revision" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetRevisionForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q82="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetRevisionForSupplierResult" nillable="true" type="q82:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublishDate">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q83="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q83:ProductReference" />
        <xs:element minOccurs="0" name="publishDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublishDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q84="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetPublishDateResult" nillable="true" type="q84:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublishDateForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q85="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q85:ProductReference" />
        <xs:element xmlns:q86="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q86:OrganizationReference" />
        <xs:element minOccurs="0" name="publishDate" nillable="true" type="xs:dateTime" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetPublishDateForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q87="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetPublishDateForSupplierResult" nillable="true" type="q87:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIsHighlight">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q88="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q88:ProductReference" />
        <xs:element minOccurs="0" name="isHighlight" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIsHighlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q89="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetIsHighlightResult" nillable="true" type="q89:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIsHighlightForSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q90="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="product" nillable="true" type="q90:ProductReference" />
        <xs:element xmlns:q91="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q91:OrganizationReference" />
        <xs:element minOccurs="0" name="isHighlight" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SetIsHighlightForSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q92="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="SetIsHighlightForSupplierResult" nillable="true" type="q92:ProductWriteResult" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierExists">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q93="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q93:OrganizationReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SupplierExistsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SupplierExistsResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q94="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q94:OrganizationReference" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCulture" nillable="true" type="xs:string" />
        <xs:element xmlns:q95="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="address" nillable="true" type="q95:OrganizationAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q96="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="CreateSupplierResult" nillable="true" type="q96:OrganizationReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplier">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q97="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="organization" nillable="true" type="q97:OrganizationReference" />
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="languageCulture" nillable="true" type="xs:string" />
        <xs:element xmlns:q98="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="address" nillable="true" type="q98:OrganizationAddress" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateSupplierResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q99="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" minOccurs="0" name="UpdateSupplierResult" nillable="true" type="q99:OrganizationReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>