CBIS.WriteAPI.Client/Service References/Generated/WriteAPI1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://cbis.citybreak.com/WriteAPI" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://cbis.citybreak.com/WriteAPI" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://cbis.citybreak.com/WriteAPI/Imports">
      <xsd:import schemaLocation="http://ipa.cbis.test.citybreak.com/WriteAPI.svc?xsd=xsd0" namespace="http://cbis.citybreak.com/WriteAPI" />
      <xsd:import schemaLocation="http://ipa.cbis.test.citybreak.com/WriteAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://ipa.cbis.test.citybreak.com/WriteAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/CBIS.WriteAPI.Models" />
      <xsd:import schemaLocation="http://ipa.cbis.test.citybreak.com/WriteAPI.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWriteAPI_ProductExists_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductExists" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_ProductExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_ProductExistsForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:ProductExistsForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_ProductExistsForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ProductExistsForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_CreateProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProduct" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_CreateProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_CreateProductForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_CreateProductForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateProductForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_ArchiveProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveProduct" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_ArchiveProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveProductResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_ArchiveProductForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveProductForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_ArchiveProductForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:ArchiveProductForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetParentProduct_InputMessage">
    <wsdl:part name="parameters" element="tns:SetParentProduct" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetParentProduct_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetParentProductResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetParentProductForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetParentProductForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetParentProductForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetParentProductForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetInformation_InputMessage">
    <wsdl:part name="parameters" element="tns:SetInformation" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetInformation_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInformationResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetInformationForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetInformationForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetInformationForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetInformationForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCategories" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetCategoriesForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCategoriesForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetCategoriesForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCategoriesForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetReferences_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReferences" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetReferences_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReferencesResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetReferencesForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetReferencesForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetReferencesForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetReferencesForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetOccasions_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOccasions" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetOccasions_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOccasionsResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetOccasionsForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetOccasionsForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetOccasionsForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetOccasionsForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetMedia_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMedia" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetMedia_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMediaResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetMediaForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetMediaForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetMediaForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetMediaForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetRelevance_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRelevance" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetRelevance_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRelevanceResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetRelevanceForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRelevanceForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetRelevanceForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRelevanceForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetExpiration_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExpiration" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetExpiration_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExpirationResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetExpirationForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetExpirationForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetExpirationForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetExpirationForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetRevision_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRevision" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetRevision_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRevisionResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetRevisionForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetRevisionForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetRevisionForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetRevisionForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetPublishDate_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPublishDate" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetPublishDate_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPublishDateResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetPublishDateForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetPublishDateForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetPublishDateForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetPublishDateForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetIsHighlight_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIsHighlight" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetIsHighlight_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIsHighlightResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetIsHighlightForSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:SetIsHighlightForSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SetIsHighlightForSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetIsHighlightForSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SupplierExists_InputMessage">
    <wsdl:part name="parameters" element="tns:SupplierExists" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_SupplierExists_OutputMessage">
    <wsdl:part name="parameters" element="tns:SupplierExistsResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_CreateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_CreateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateSupplierResponse" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_UpdateSupplier_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplier" />
  </wsdl:message>
  <wsdl:message name="IWriteAPI_UpdateSupplier_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateSupplierResponse" />
  </wsdl:message>
  <wsdl:portType name="IWriteAPI">
    <wsdl:operation name="ProductExists">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/ProductExists" message="tns:IWriteAPI_ProductExists_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/ProductExistsResponse" message="tns:IWriteAPI_ProductExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ProductExistsForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/ProductExistsForSupplier" message="tns:IWriteAPI_ProductExistsForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/ProductExistsForSupplierResponse" message="tns:IWriteAPI_ProductExistsForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProduct">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/CreateProduct" message="tns:IWriteAPI_CreateProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/CreateProductResponse" message="tns:IWriteAPI_CreateProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateProductForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/CreateProductForSupplier" message="tns:IWriteAPI_CreateProductForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/CreateProductForSupplierResponse" message="tns:IWriteAPI_CreateProductForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveProduct">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/ArchiveProduct" message="tns:IWriteAPI_ArchiveProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/ArchiveProductResponse" message="tns:IWriteAPI_ArchiveProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ArchiveProductForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/ArchiveProductForSupplier" message="tns:IWriteAPI_ArchiveProductForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/ArchiveProductForSupplierResponse" message="tns:IWriteAPI_ArchiveProductForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetParentProduct">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetParentProduct" message="tns:IWriteAPI_SetParentProduct_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetParentProductResponse" message="tns:IWriteAPI_SetParentProduct_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetParentProductForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetParentProductForSupplier" message="tns:IWriteAPI_SetParentProductForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetParentProductForSupplierResponse" message="tns:IWriteAPI_SetParentProductForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetInformation">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetInformation" message="tns:IWriteAPI_SetInformation_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetInformationResponse" message="tns:IWriteAPI_SetInformation_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetInformationForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetInformationForSupplier" message="tns:IWriteAPI_SetInformationForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetInformationForSupplierResponse" message="tns:IWriteAPI_SetInformationForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCategories">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetCategories" message="tns:IWriteAPI_SetCategories_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetCategoriesResponse" message="tns:IWriteAPI_SetCategories_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCategoriesForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetCategoriesForSupplier" message="tns:IWriteAPI_SetCategoriesForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetCategoriesForSupplierResponse" message="tns:IWriteAPI_SetCategoriesForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReferences">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetReferences" message="tns:IWriteAPI_SetReferences_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetReferencesResponse" message="tns:IWriteAPI_SetReferences_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetReferencesForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetReferencesForSupplier" message="tns:IWriteAPI_SetReferencesForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetReferencesForSupplierResponse" message="tns:IWriteAPI_SetReferencesForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOccasions">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetOccasions" message="tns:IWriteAPI_SetOccasions_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetOccasionsResponse" message="tns:IWriteAPI_SetOccasions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetOccasionsForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetOccasionsForSupplier" message="tns:IWriteAPI_SetOccasionsForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetOccasionsForSupplierResponse" message="tns:IWriteAPI_SetOccasionsForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMedia">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetMedia" message="tns:IWriteAPI_SetMedia_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetMediaResponse" message="tns:IWriteAPI_SetMedia_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetMediaForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetMediaForSupplier" message="tns:IWriteAPI_SetMediaForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetMediaForSupplierResponse" message="tns:IWriteAPI_SetMediaForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRelevance">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetRelevance" message="tns:IWriteAPI_SetRelevance_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetRelevanceResponse" message="tns:IWriteAPI_SetRelevance_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRelevanceForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetRelevanceForSupplier" message="tns:IWriteAPI_SetRelevanceForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetRelevanceForSupplierResponse" message="tns:IWriteAPI_SetRelevanceForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExpiration">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetExpiration" message="tns:IWriteAPI_SetExpiration_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetExpirationResponse" message="tns:IWriteAPI_SetExpiration_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetExpirationForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetExpirationForSupplier" message="tns:IWriteAPI_SetExpirationForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetExpirationForSupplierResponse" message="tns:IWriteAPI_SetExpirationForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRevision">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetRevision" message="tns:IWriteAPI_SetRevision_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetRevisionResponse" message="tns:IWriteAPI_SetRevision_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetRevisionForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetRevisionForSupplier" message="tns:IWriteAPI_SetRevisionForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetRevisionForSupplierResponse" message="tns:IWriteAPI_SetRevisionForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPublishDate">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetPublishDate" message="tns:IWriteAPI_SetPublishDate_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetPublishDateResponse" message="tns:IWriteAPI_SetPublishDate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetPublishDateForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetPublishDateForSupplier" message="tns:IWriteAPI_SetPublishDateForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetPublishDateForSupplierResponse" message="tns:IWriteAPI_SetPublishDateForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIsHighlight">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetIsHighlight" message="tns:IWriteAPI_SetIsHighlight_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetIsHighlightResponse" message="tns:IWriteAPI_SetIsHighlight_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetIsHighlightForSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetIsHighlightForSupplier" message="tns:IWriteAPI_SetIsHighlightForSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SetIsHighlightForSupplierResponse" message="tns:IWriteAPI_SetIsHighlightForSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SupplierExists">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SupplierExists" message="tns:IWriteAPI_SupplierExists_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/SupplierExistsResponse" message="tns:IWriteAPI_SupplierExists_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/CreateSupplier" message="tns:IWriteAPI_CreateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/CreateSupplierResponse" message="tns:IWriteAPI_CreateSupplier_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateSupplier">
      <wsdl:input wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/UpdateSupplier" message="tns:IWriteAPI_UpdateSupplier_InputMessage" />
      <wsdl:output wsaw:Action="http://cbis.citybreak.com/WriteAPI/IWriteAPI/UpdateSupplierResponse" message="tns:IWriteAPI_UpdateSupplier_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>